/* Laddar in ett anpassat typsnitt */
@font-face{
    font-family: MinFont; /* Namnet på det anpassade typsnittet */
    src: url('Roboto-Regular.ttf') format('truetype') /*Länk till ttf-typsnittsfilen*/
}



/* Stilar för kroppen */

/* Använder det anpassade typsnittet för texten i kroppen, med fallback till Arial, Helvetica, sans-serif */
body{
    font-family: MinFont, Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
}

/* Centrerar innehållet och använder grid-layout för att organisera det */
.wrapper{
    text-align: center; /* Centrerar texten */
    height: 100%;
    display: grid; /* Använder grid-layout */
    grid-template-rows: 50px 50px auto 60px; /* Storleksdefinition för rader i grid */
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"; /* Bestämmer layout-områden för elementen */
}

header{
    grid-area: header;
    background: linear-gradient(to right, hsl(187, 100%, 50%), hsl(283, 100%, 50%));
    z-index: 1000;
}

/*Header Nav gemensamma saker*/
header ul, nav ul{
    padding: 0; /* Inre utfyllnad */
    list-style-type: none; /* Ingen punktlista */
    margin: 0; /* Yttre marginal */
    height: 100%; /* Höjden på elementet */
    align-items: center; /* Centrerar vertikalt */
    font-size: 1.75em; /* Textstorlek */
}

header ul li, nav ul li{
    width: fit-content;
    height: fit-content;
}

header ul{
    display: flex;
    justify-content: space-evenly;
}

header form{
    display: flex;
}

header input{
    height: 26px;
    padding: 0;
    margin: 0;
}

header a, header a:link, header a:visited{
    color: black;
    text-decoration: none;
}

header a:focus, header a:hover, header a:active{
    color: white;
}

input[list]{
    height: 30px;
}

nav{
    grid-area: nav;
    background: black;
    z-index: 1000;
}

nav a, nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
}

nav a:focus, nav a:hover, nav a:active{
    color: hsl(187, 100%, 50%);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, hsl(187, 100%, 50%), hsl(283, 100%, 50%));
}

main:has(iframe):has(audio){
    align-items: normal;
}

footer{
    grid-area: footer;
    background: #101114;
}

footer *{
    color: white;
}

#scroll{
    animation: fallNer 1s ease forwards;
    position: relative;
    top: -500px;
    transition: transform 0.2s ease;
}

article{
    word-wrap: break-word;
    background: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
    height: fit-content;
    max-width: 500px;
    margin: 16px;
    font-size: 1.25em;
}

article > p{
    text-align: justify;
    margin: 16px;
}

article *{
    color: rgb(0, 0, 0);
}

article > a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
    background: linear-gradient(to bottom right, hsl(187, 100%, 50%), rgb(183, 0, 255));
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    width: 50%;
    min-width: 230px;
    max-width: 350px;
    height: fit-content;
    margin-bottom: 16px;
}

.knappbredvid{
    display: inline-block;
    margin: 0 8px; /* Add some horizontal space between the buttons */
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
    background: linear-gradient(to bottom right, hsl(187, 100%, 50%), rgb(183, 0, 255));
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    width: 45%; /* Adjust width to ensure they fit side by side */
    min-width: 100px;
    height: fit-content;
    padding: 10px 0; /* Add padding to ensure better click area */
}

article img{
    width: 50%;
    border: 2px solid white;
}

article audio{
    margin-bottom: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
}

address p{
    margin: 0;
}

article iframe, article video{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

article iframe[src*="spotify.com"]{
    width: 100%; 
    height: 152px;
    border-radius:16px;
}

article img{
    border: 2px solid black;
}

iframe, video, img, audio{
    max-width: 100%;
}

iframe{
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
}

table caption{
    font-size: 3ch;
    margin: 10px;
}

table, tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}

thead > tr{
    background-color: rgb(43, 226, 211);
}

tbody > tr:nth-child(odd){
    background-color: rgb(146, 14, 14);
}

tbody > tr:nth-child(even){
    background-color: rgb(0, 132, 255);
}

tfoot > tr{
    background-color: darkcyan;
}

table a:link{
    color: rgb(0, 255, 64);
}

table a:visited{
    color: rgb(255, 0, 119);
}

table a:focus{
    color: rgb(0, 102, 255);
}

table a:hover{
    color: hsl(216, 100%, 50%);
}

table a:active{
    color: #00c3ff;
}

address{
   display: grid; 
}

main form{
    width: 500px;
    height: fit-content;
    margin: 20px;
}

main fieldset{
    width: calc(100% - 32px);
    height: calc(100% - 20px);
    padding-left: 14px;
    padding-right: 14px;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 1.25em;
}

form[action="tack.html"]{
    width: 80vw;
    height: 70vh;
}

#tvåspalt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 6fr
}

#tvåspalt input, #tvåspalt select{
    max-height: 38px;
}

#tvåspalt input, #tvåspalt select{
    max-width: 400px;
    display: flex;
    justify-self: center;
}

#tvåspalt textarea{
    height: 100%;
}

#tvåspalt label, #tvåspalt input, #tvåspalt textarea{
    grid-column: 1;
    display: flex;
    justify-self: center;
}

#tvåspalt label[for="media"], #tvåspalt select, #tvåspalt input[name="media_link"]{
    grid-column: 2;
    display: flex;
    grid-row: 2;
}

#tvåspalt label[for="media"]{
    grid-row: 1;
}

#tvåspalt input[name="media_link"], #tvåspalt input[name="video_media"], #tvåspalt input[name="img_media"]{
    grid-column: 2;
    grid-row: 3;
}

#tvåspalt iframe, #tvåspalt video, #tvåspalt audio, #tvåspalt img{
    grid-column: 2;
    grid-row: 4 / span 2;
    max-height: 100%;
    display: flex;
    justify-self: center;
}

#tvåspalt audio{
    border: 2px solid black;
    border-radius: 50px;
}

fieldset label{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

input[name="visa"], input[value="man"], input[value="kvinna"], input[value="annat"], input[name="prenumerera"]{
    width: fit-content!important;
    margin: 0!important;
}

#huvudkön{
    grid-column: 1 / -1;
    justify-self: left;
    margin-left: 84px;
}

legend{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

textarea{
    resize: none;
}

textarea[name="biograf"]{
    height: 200px;
}

legend {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

label {
    text-align: right;
    padding-right: 10px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
    align-self: center;
    width: auto;
    margin-left: 10px;
}

button {
    grid-column: 1 / -1;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background-color: hsl(205, 100%, 50%);
    color: rgb(0, 0, 0);
    font-size: 1.75ch;
    cursor: pointer;
    justify-self: center;
    border: 1px solid black;
}

button:focus{
    background-color: hsl(205, 100%, 35%);
}

button:hover{
    background-color: hsl(205, 100%, 35%);
}


@keyframes fallNer{
    from{
        top: -500px; /* Start position */
    }
    to{
        top: 0; /* End position */
    }
}

@media screen and (max-width: 486px){
    .knappbredvid{
        width: 80%;
    }
}

@media screen and (max-width: 550px){
    main form{
        width: 90vw;
    }
}

/* Media Query för skärmar mindre än 768px (mobil) */
@media screen and (max-width: 768px){
    header, nav{
        font-size: 1.5ch;
    }

    form[action="tack.html"]{
        height: fit-content;
    }

    #tvåspalt {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 3fr repeat(3, 1fr) auto 1fr
    }

    #tvåspalt label[for="media"]{
        grid-column: 1;
        grid-row: 6;
    } 
    
    #tvåspalt select[name="media"]{
        grid-column: 1;
        grid-row: 7;
    }
    
    #tvåspalt input[name="media_link"], #tvåspalt input[name="video_media"], #tvåspalt input[name="img_media"]{
        grid-column: 1;
        grid-row: 8;
    }

    #tvåspalt video, #tvåspalt iframe, #tvåspalt audio, #tvåspalt img{
        grid-column: 1;
        grid-row: 9;
    }


    #tvåspalt button{
        grid-column: 1;
        grid-row: 10;
    }

    #searchInput{
        width: 25vw;
    }

    article > p{
        text-align:initial;
    }
}