/* Laddar in ett anpassat typsnitt */
@font-face{
    font-family: MinFont; /* Namnet på det anpassade typsnittet */
    src: url('myfont.woff2') format('woff2'), /* Länk till WOFF2-typsnittsfilen */
         url('myfont.woff') format('woff'); /* Länk till WOFF-typsnittsfilen */
}

/* Stilar för kroppen */

/* Använder det anpassade typsnittet för texten i kroppen, med fallback till Arial, Helvetica, sans-serif */
body{
    font-family: MinFont, Arial, Helvetica, sans-serif;
}

/* Centrerar innehållet och använder grid-layout för att organisera det */
.wrapper{
    text-align: center; /* Centrerar texten */
    display: grid; /* Använder grid-layout */
    grid-template-rows: 50px 50px auto 60px; /* Storleksdefinition för rader i grid */
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer"; /* Bestämmer layout-områden för elementen */
}

header{
    grid-area: header;
}

/*Header Nav gemensamma saker*/
header ul, nav ul{
    padding: 0; /* Inre utfyllnad */
    list-style-type: none; /* Ingen punktlista */
    margin: 0; /* Yttre marginal */
    height: 100%; /* Höjden på elementet */
    align-items: center; /* Centrerar vertikalt */
    font-size: 1.75em; /* Textstorlek */
}

header ul li, nav ul li{
    width: fit-content;
    height: fit-content;
}

header ul{
    display: flex;
    justify-content: space-evenly;
}

header form{
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/* Media Query för skärmar mindre än 768px (mobil) */
@media screen and (max-width: 768px){
    
}

/* Media Query för skärmar större än 768px (dator) */
@media screen and (min-width: 769px){

}
